// TYPOGRAPHY
// ---------------------------------------------------------------
$font-body: "HelveticaNeueCyr";
// $font-title: "Doorman";
$font-roman: normal;
$font-medium: 500;
$font-light: 300;
$font-bold: bold;
$font-title: 'Prosto One';
// $font-tertiary: "Oswald", sans-serif;

$min-font-size: 14;
$max-font-size: 24;
// $root-font-size: 16;
$body-font-size: calcFluidFontSize($min-font-size, $max-font-size, 320, 1920, px);
$body-line-height: 140;


// COLORS
$color-bg-white: #ffffff;
$color-bg-grey: #9D958C;
$color-bg-dark: #3A3633;

$color-text-main: #3D3734;
$color-text-second: #FDAE18;
$color-text-white: #ffffff;
$color-yellow: #F29F00;
$color-yellow-2: #FFECC9;
// ---------------------------------------------------------------

$placeholder-color: rgba(29, 36, 42, 0.7);

// Animation
// ---------------------------------------------------------------

$transition: all .4s ease;

// Box Sizing
$box-border: border-box;