.faq {

    .new-container {
        >.w-big {
            margin-left: auto;
            padding-bottom: 70px;
        }
    }


    h2:before {
        top: -10px;
        width: 24%;
    }

}

@import "../components/accordeon";