.our-reviews {
    .w-big {
        margin-left: auto;
    }

    h2:before {
        top: -10px;
        width: 21%;
    }
}

.our-reviews-items {
    margin-top: 70px;

    @media screen {
        @media (max-width: 1199px) {
            margin-top: 50px;
        }

        @media (max-width: 767px) {
            margin-top: 30px;
        }
    }

    .btn-wrapper {
        margin-top: 50px;

        @media screen and (max-width: 767px) {
            .btn {
                width: 100%;
                text-align: center;
            }
        }
    }
}