.section-price {
    padding: 120px 0;

    @media screen {
        @media (max-width: 1199px) {
            padding: 100px 0;
        }
    }

    .heading-wrapper {
        align-items: center;
        justify-content: space-between;
        padding-bottom: 90px;

        @media screen {
            @media (max-width: 1199px) {
                @include flex-column;
                gap: 30px;
                padding-bottom: 50px;
            }

            @media (max-width: 767px) {
                padding-bottom: 40px;
            }
        }

        .disclamer {
            max-width: 515px;
            font-size: .55rem;
            line-height: .8rem;
            color: $color-text-white;
            letter-spacing: .02em;

            @media screen {
                @media (max-width: 1199px) {
                    font-size: .9em;
                    line-height: 1.1rem;
                }
            }
        }
    }

    h2 {
        color: $color-text-white;
    }

    h2:before {
        top: -10px;
        width: 55%;
    }
}

.price-items {
    gap: 3vw;

    @media screen {
        @media (max-width: 1199px) {
            @include flex-column;
            gap: 30px;
        }

    }
}

.price-item {
    flex: 1;
    max-width: calc(33.3% - 38px);
    @include flex-column;
    border-radius: 20px;
    overflow: hidden;
    background: #80766F;
    outline: 4px solid transparent;
    position: relative;
    transition: $transition;

    @media screen {
        @media (max-width: 1199px) {
            flex: none;
            width: 100%;
            max-width: none;
        }

    }

    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(#80766F, .5);
        opacity: 0;
        transition: $transition;
        visibility: hidden;
    }

    &.not-hover {
        &:after {
            opacity: 1;
            visibility: visible;
        }
    }

    &.hover {
        outline: 4px solid $color-yellow;
        box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.25);
    }

    .title {
        width: 100%;
        padding: 45px 30px;
        @include bg-style;
        color: $color-text-white;
        font-family: $font-title;
        font-size: 1.3rem;

        @media screen and (max-width: 767px) {
            padding: 20px;
        }

        >span {
            align-items: center;
            min-height: 75px;

            @media screen {
                @media (max-width: 1199px) {
                    min-height: auto;
                    font-size: 1.6rem;
                }

            }
        }
    }

    .descript {
        flex: 1;
        @include flex-column;
        justify-content: flex-start;
        padding: 30px 30px 40px;
        color: $color-text-white;
        font-size: .8rem;
        letter-spacing: .02em;
        line-height: 1rem;
        width: 100%;

        @media screen {
            @media (max-width: 1199px) {
                font-size: 1rem;
                line-height: 1.3rem;
            }

            @media (max-width: 767px) {
                padding: 20px 20px 30px;
            }
        }
    }

    .text+.list {
        margin-top: 30px;

        @media screen and (max-width: 767px) {
            margin-top: 20px;
            margin-bottom: 30px;
        }
    }

    .list {
        @include flex-column;
        width: 100%;
        gap: 5px;
        margin-bottom: 40px;

        li {
            padding-left: 15px;
            position: relative;

            &:before {
                content: '';
                position: absolute;
                top: 9px;
                left: 0;
                width: 5px;
                height: 5px;
                border-radius: 50%;
                background-color: $color-text-second;

                @media screen and (max-width: 1199px) {
                    top: 1vw;
                }

                @media screen and (max-width: 767px) {
                    top: 2vw;
                }
            }
        }
    }

    .price-value {
        margin-top: auto;
        margin-bottom: 40px;
        gap: 25px;
        align-items: flex-end;
        width: 100%;

        @media screen and (max-width: 767px) {
            gap: 20px;
            margin-bottom: 30px;
        }

        .price-current {
            font-family: $font-title;
            color: $color-text-second;
            font-size: 1.1rem;

            @media screen {
                @media (max-width: 1199px) {
                    font-size: 1.3rem;
                    line-height: 1;
                }

                @media (max-width: 767px) {
                    font-size: 1.1rem;
                    line-height: 1.2rem;
                }
            }

            >span:first-child {
                font-size: 1.9rem;

                @media screen {
                    @media (max-width: 1199px) {
                        font-size: 2.2rem;
                        line-height: 1;
                    }

                }
            }

            >span:last-child {
                display: inline-block;
                font-size: .8rem;
                vertical-align: top;
            }
        }

        $color-old: #F1EFEC;

        .price-old {

            font-size: .8rem;
            color: rgba($color-old, .4);
            position: relative;

            @media screen {
                @media (max-width: 1199px) {
                    font-size: 1.1rem;
                }

            }

            &:after {
                content: '';
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
                margin-top: 1px;
                width: 100%;
                height: 1px;
                background-color: rgba($color-old, .8);
            }

            >span {
                display: inline-block;
                font-size: .4rem;
                vertical-align: top;
            }
        }
    }

    .btns-wrapper {
        // margin-top: 30px;
        gap: 15px;
        align-items: center;
        width: 100%;

        @media screen and (max-width: 767px) {
            @include flex-column;
        }

        .btn {
            flex: 1;
            font-size: .7rem;
            text-align: center;
            padding: 10px 0;

            @media screen {
                @media (min-width: 2100px) {
                    padding: 20px 0;
                }

                @media (max-width: 1500px) {
                    font-size: .6rem;
                }

                @media (max-width: 1199px) {
                    font-size: 1rem;
                }

                @media (max-width: 767px) {
                    flex: none;
                    width: 100%;
                    padding: 17px 0;
                    font-size: 1.1rem;
                }
            }
        }
    }
}