.our-projects {
    padding-top: 120px;

    @media screen {
        @media (min-width: 2000px) {
            padding-top: 220px;
        }

        @media (max-width: 1199px) {
            padding-top: 10vw;
            overflow: hidden;
        }
    }

    h2 {
        width: auto;
        display: inline-block;
        position: relative;

        &:before {
            top: -10px;
            width: 100%;
        }

        &:after {
            content: '';
            position: absolute;
            width: 19vw;
            height: 19vw;
            border-radius: 50%;
            background-color: #F2EFE5;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: -1;

            @media screen {
                @media (max-width: 1199px) {
                    left: 3vw;
                    width: 25vw;
                    height: 25vw;
                }
            }
        }
    }
}

.our-projects-inner {
    position: relative;
}

.project-item-outer {
    &.--first {
        position: absolute;
        top: 0;
        right: 0;
        width: calc(50% - 2vw);
        height: 34vw;
        @include bg-style;

        @media screen {
            @media (max-width: 1199px) {
                position: relative;
                width: 100%;
                margin-top: 120px;
                height: 55vw;

            }

            @media (max-width: 767px) {
                margin-top: 50px;
                height: 120vw;
            }
        }


        &+.project-item-outer {
            margin-top: 20.5vw;
            width: calc(50% - 2vw);

            @media screen {
                @media (max-width: 1199px) {
                    width: 100%;
                    margin-top: 30px;
                    height: 55vw;
                }

                @media (max-width: 767px) {
                    margin-top: 20px;
                    height: 120vw;
                }
            }

            .project-item {
                height: 19vw;

                @media screen {
                    @media (max-width: 1199px) {
                        height: 100%;
                    }
                }
            }
        }
    }

    .our-projects-inner:not(:first-child) &:first-child {
        width: calc(50% - 2vw);
        margin-left: auto;
        height: 38vw;

        @media screen {
            @media (max-width: 1199px) {
                height: 55vw;
                width: 100%;
                position: relative;
                margin-left: 0;
                margin-top: 30px;
            }

            @media (max-width: 767px) {
                margin-top: 20px;
                height: 120vw;
            }
        }

    }

    .our-projects-inner:not(:first-child) &:not(:first-child) {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        width: calc(50% - 2vw);
        height: 25.5vw;

        @media screen {
            @media (max-width: 1199px) {
                position: relative;
                top: auto;
                left: auto;
                width: 100%;
                height: 55vw;
                transform: none;
                margin-top: 30px;
            }

            @media (max-width: 767px) {
                margin-top: 20px;
                height: 120vw;
            }
        }
    }
}

.project-item {
    padding: 45px;
    align-items: flex-end;
    position: relative;
    z-index: 0;
    height: 100%;
    @include bg-style;

    overflow: hidden;


    @media screen {
        @media (max-width: 1199px) {
            padding: 30px;
        }

        @media (max-width: 767px) {
            padding: 40px 15px;
            align-items: flex-start;
        }
    }

    .--first & {
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;

        @media screen {
            @media (max-width: 1199px) {
                border-radius: 20px;
            }
        }
    }

    .--third & {
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        padding-left: calc(7.5vw + 45px);

        @media screen {

            @media (max-width: 1650px) {
                padding-left: calc(4vw + 45px);
            }

            @media (max-width: 1500px) {
                padding-left: calc(3vw + 45px);
            }

            @media (max-width: 1199px) {
                border-radius: 20px;
                padding: 30px;
            }

            @media (max-width: 767px) {
                padding: 40px 15px;
            }
        }

    }

    .project-item-outer:not(.--first):not(.--third) & {
        border-radius: 20px;
    }

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, rgba($color-text-main, .15) 50%, $color-text-main 100%);
        z-index: -1;

        @media screen and (max-width: 767px) {
            background: linear-gradient(180deg, rgba($color-text-main, .3) 50%, $color-text-main 100%);
        }
    }

    .project-item-descript {
        @include flex-column;
        gap: 40px;
        width: 100%;

        .title {
            color: $color-text-white;

            >span:first-child {
                font-size: .8rem;
                letter-spacing: .02em;

                @media screen {
                    @media (max-width: 1199px) {
                        font-size: 1rem;
                    }
                }
            }

            >span:last-child {
                display: block;
                font-family: $font-title;
                letter-spacing: .02em;
                font-size: 1.3rem;
                margin-top: 5px;
                text-transform: uppercase;

                @media screen {
                    @media (max-width: 1199px) {
                        font-size: 1.7rem;
                    }
                }
            }
        }

        .values-items {
            // gap: 40px;
            align-items: center;
            width: 100%;

            @media screen and (max-width: 767px) {
                @include flex-column;
                gap: 30px;
            }
        }

        .values-item {
            @include flex-column;

            &:not(:first-child) {
                margin-left: 35px;

                @media screen {
                    @media (max-width: 1500px) {
                        margin-left: 25px;
                    }

                    @media (max-width: 1260px) {
                        margin-left: 20px;
                    }

                    @media (max-width: 1199px) {
                        margin-left: 40px;
                    }

                    @media (max-width: 767px) {
                        margin-left: 0;
                    }
                }
            }

            .value {
                letter-spacing: .02em;
                font-size: 1.3rem;
                font-family: $font-title;
                color: $color-text-second;

                @media screen {
                    @media (max-width: 1500px) {
                        font-size: 1.1rem;
                    }

                    @media (max-width: 1260px) {
                        font-size: 1rem;
                    }

                    @media (max-width: 1199px) {
                        font-size: 1.5rem;
                    }
                }

                >span {
                    display: inline-block;
                    font-size: .8rem;
                    vertical-align: top;
                }
            }

            .name {
                color: $color-text-white;
                font-size: .7rem;

                @media screen {
                    @media (max-width: 1500px) {
                        font-size: .6rem;
                    }

                    @media (max-width: 1199px) {
                        font-size: .8em;
                    }
                }
            }
        }

        .project-link {
            margin-left: auto;
            width: 60px;
            height: 60px;
            background: $color-text-second;
            position: relative;
            border-radius: 50%;

            @media screen and (max-width: 767px) {
                position: absolute;
                bottom: 20px;
                right: 15px;
                width: 50px;
                height: 50px;
            }

            &:hover,
            &:active {
                // transform: scale(1.02);
                box-shadow: 0 0 20px 0 #f29f00;
                transform: translateY(-2px);
            }

            span {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                display: block;
                width: 50%;
                height: 2px;
                background: $color-text-white;
                position: relative;

                &:after {
                    content: '';
                    position: absolute;
                    width: 6px;
                    height: 6px;
                    border-top: 2px solid;
                    border-right: 2px solid;
                    transform: rotate(45deg);
                    border-color: $color-text-white;
                    top: -3px;
                    right: 0;
                }
            }
        }
    }
}