.view-us {
    margin: 90px 0;
    padding: 120px 0;
    @include bg-style;
    overflow: hidden;
    position: relative;
    z-index: 0;

    &:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: -1;
        background-color: rgba(#000000, .1);
    }

    .w-big {
        margin-left: auto;

    }

    .h1 {
        color: $color-text-white;

        &:before {
            top: -10px;
            width: 38%;
        }
    }
}

.view-items {
    margin-top: 80px;
    gap: 40px;
    align-items: center;
    position: relative;
    z-index: 0;
    width: 100%;

    &:before {
        // content: '';
        position: absolute;
        width: calc(100% + 20px);
        height: 100%;
        top: 50%;
        left: 50%;
        border-radius: 100%;
        transform: translate(-50%, -50%);
        background-color: #000000;
        filter: blur(200px);
        z-index: -1;
    }
}

.view-item {
    @include flex-column;
    width: calc(33.3% - 40px);
    // gap: 5px;
    letter-spacing: .02em;
    font-size: .8rem;
    line-height: 1.2rem;
    // color: $color-text-white;
    gap: 10px;


    .video {
        // padding: 5px;
        width: 100%;
        height: 16vw;
        padding: 2px;
        background-color: $color-bg-dark;
        border-radius: 10px;
        overflow: hidden;

        iframe {
            border-radius: 10px;
            overflow: hidden;
        }
    }

    >span:first-child {
        text-transform: uppercase;
        color: $color-text-second;

    }

    >a:last-child {
        color: $color-text-white;
        border-bottom: 1px solid;
        transition: $transition;
        // font-size: ;

        &:hover {
            border-color: transparent;
        }
    }
}