// Global CSS

* {
    box-sizing: $box-border;
}

html {
    font-size: $body-font-size;
}

.visually-hidden {
    display: none;
}

body {
    background-color: $color-bg-white;
    color: $color-text-main;
    font-family: $font-body;
    font-weight: $font-roman;
    // position: relative;
    -webkit-overflow-scrolling: touch;
    font-size: 1rem;
    -webkit-tap-highlight-color: transparent;
    // -webkit-touch-callout: none;
    // -webkit-user-select: none;
    //font-size: $body-font-size + 0px;
    line-height: $body-line-height + '%';
    margin: 0;
    overflow-x: hidden;
    min-height: 100vh;
    position: relative;
    @include flex-column;
}

main {
    flex: 1;
    width: 100%;
}

section {
    width: 100%;

    &.grey {
        background-color: $color-bg-grey;
    }

    &+section {
        padding: 90px 0;

        @media screen {
            @media (max-width: 1199px) {
                padding: 70px 0;
            }

            @media (max-width: 767px) {
                padding: 50px 0;
            }
        }
    }
}


.new-container {
    // padding: 0 3vw;
    width: calc(100% - 15vw);
    margin: 0 auto;
    // padding: 0 40px;

    @media screen {
        @media (max-width: 1920px) {
            max-width: 1620px;
        }

        @media (max-width: 1650px) {
            max-width: none;
            width: calc(100% - 8vw);
        }

        @media (max-width: 1500px) {
            width: calc(100% - 6vw);
        }

        @media (max-width: 1199px) {
            width: 100%;
            padding: 0 40px;
        }

        @media (max-width: 767px) {
            padding: 0 15px;
        }
    }
}

// .heading {
//     font-family: $font-title;
// }

img {
    display: block;
    max-width: 100%;
}


a {
    display: inline-block;
    text-decoration: none;
    transition: $transition;
    color: inherit;
}




.heading {
    font-family: $font-title;
}

.w-big {
    width: 67%;

    @media screen {
        @media (max-width: 1199px) {
            width: 100%;
        }
    }
}

.w-small {
    width: 33%;

    @media screen {
        @media (max-width: 1199px) {
            width: 100%;
        }
    }
}

.btn {
    font-size: .8rem;
    padding: 12px 20px;
    border-radius: 100px;

    @media screen {
        @media (min-width: 2100px) {
            padding: 20px 30px;
        }

        @media (max-width: 1199px) {
            font-size: .9rem;
        }

        @media (max-width: 767px) {
            font-size: 1.1rem;
            padding: 17px 20px;
        }
    }


    &.btn-yellow {
        color: $color-text-white;
        background-color: $color-yellow;
        border: 1px solid transparent;

        &:hover {
            color: $color-yellow;
            background-color: $color-yellow-2;
            border: 1px solid $color-text-second;
        }
    }

    &.btn-contur {
        color: $color-text-second;
        border: 1px solid $color-text-second;

        &:hover,
        &:active {
            background-color: $color-yellow-2;
        }
    }
}

.link {
    color: $color-text-second;
    font-size: .8rem;
    border-bottom: 1px solid;

    @media screen {
        @media (max-width: 1199px) {
            font-size: .9rem;
        }
    }

    &:hover,
    &:active {
        color: $color-text-white;
    }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    display: block;
    margin: 0;
    padding: 0;
    font-weight: normal;
    line-height: normal;
}

.list {
    list-style: none;
    margin: 0;
    padding: 0;
}


h1,
.h1 {
    font-size: 3rem;
    letter-spacing: 0.02em;
    position: relative;
    text-transform: uppercase;

    @media screen {
        @media (max-width: 1500px) {
            font-size: 2.7rem;
        }

        @media (max-width: 1199px) {
            font-size: 3.5rem;
        }

        @media (max-width: 767px) {
            font-size: 3rem;
        }
    }
}

h1:before {
    content: "";
    position: absolute;
    border-radius: 2px;
    top: -2px;
    left: 0;
    width: 14%;
    height: 2px;
    background-color: $color-text-second;
}

.h1 span {
    position: relative;
    display: inline;

    &:before {
        content: "";
        position: absolute;
        border-radius: 2px;
        top: -10px;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: $color-text-second;
    }
}

h2 {
    font-size: 1.8rem;
    letter-spacing: 0.02em;
    line-height: 2.1rem;
    position: relative;
    text-transform: uppercase;

    @media screen {
        @media (max-width: 1500px) {
            font-size: 1.6rem;
        }

        @media (max-width: 1199px) {
            font-size: 2rem;
            line-height: 2.5rem;
        }

        @media (max-width: 1199px) {
            font-size: 1.8rem;
            line-height: 2.3rem;
        }
    }

    >span {
        position: relative;
        display: inline;

        &:before {
            content: "";
            position: absolute;
            border-radius: 2px;
            top: -10px;
            left: 0;
            width: 100%;
            height: 2px;
            background-color: $color-text-second;

        }
    }
}

// h3 {}

h4 {
    font-size: 2.7rem;
    // font-size: 64px;
    font-weight: bold;
    line-height: 94%;
    padding-bottom: 60px;
}

.default-input-wrapper {
    @include flex-block;
    @include flex-column;
    gap: 15px;

    &.invalid {
        position: relative;

        .input-default {
            border-color: #CC0A0A;
        }

        .invalid-text {
            position: absolute;
            top: 100%;
            left: 0;
            margin-top: 5px;
            color: #CC0A0A;
            font-size: .6rem;

            @media screen {
                @media (max-width: 1199px) {
                    font-size: .7rem;
                }
            }
        }
    }

    label {
        font-size: .8rem;

        @media screen {
            @media (max-width: 1199px) {
                font-size: .9rem;
            }
        }
    }

    .input-default {
        width: 100%;
        height: 52px;
        /* line-height: 52px; */
        border: 1px solid transparent;
        outline: none;
        border-radius: 50px;
        padding: 0 25px;
        overflow: hidden;
        font-size: .8rem;

        @media screen {
            @media (min-width: 2100px) {
                height: 70px;
            }

            @media (max-width: 1199px) {
                font-size: .9rem;
            }

            @media (max-width: 767px) {
                font-size: 1.1rem;
            }
        }
    }
}

input[type="radio"],
input[type="file"],
input[type="checkbox"] {
    display: none;
}

.radiobtn-wrapper {

    $color-label-active: #4083FF;

    >label {
        position: relative;
        padding-left: 35px;
        transition: $transition;
        cursor: pointer;

        &:hover,
        &:active {
            color: $color-label-active;
        }

        &:before,
        &:after {
            content: '';
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            border-radius: 50%;
            transition: $transition;
        }

        &:before {
            width: 20px;
            height: 20px;
            border: 3px solid #5C5C5C;
            left: 0;
        }

        &:after {
            width: 14px;
            height: 14px;
            background-color: #5C5C5C;
            left: 6px;
        }
    }

    input:checked+label {
        color: $color-label-active;

        &:before {
            border-color: $color-label-active;
        }

        &:after {
            background-color: $color-label-active;
        }

    }
}

.files-input-wrapper {
    width: 100%;


    .label-file {
        height: 190px;
        @include flex-column;
        font-size: .8rem;
        gap: 10px;
        background: #F2EFE5;
        border: 1px solid rgba(#5C5C5C, .2);
        border-radius: 20px;
        align-items: center;
        justify-content: center;
        transition: $transition;

        @media screen {
            @media (max-width: 1199px) {
                font-size: .9rem;
            }
        }

        &:hover,
        &:active {
            border-color: #5C5C5C;
        }

        span {
            color: #4083FF;
        }
    }

    input.active+.label-file {
        border-color: #5C5C5C;
    }

    .input-file-list {
        margin-top: 35px;
        font-size: .8rem;

        @media screen {
            @media (max-width: 1199px) {
                font-size: .9rem;
            }
        }

        .input-file-list-item {
            padding-left: 30px;
            position: relative;

            &:before {
                content: '';
                top: 50%;
                left: 0;
                transform: translateY(-50%);
                width: 24px;
                height: 24px;
                background-image: url(../media/icons/attach.svg);
                position: absolute;
            }
        }

        .invalid-text {
            color: #CC0A0A;
        }

        .input-file-list-name {
            color: #4083FF;

            // border-bottom: 1px solid;

        }

        .input-file-list-remove {
            margin-left: 10px;
            color: #CC0A0A;
        }
    }
}

@keyframes submitImg {
    0% {
        transform: translateX(-50%) scale(1);
    }

    50% {
        transform: translateX(-50%) scale(1.03);
    }

    100% {
        transform: translateX(-50%) scale(1);
    }
}

.inline-form {
    .btn-submit {
        $btn : '.btn-submit';
        border: none;
        outline: none;
        padding: 0;
        margin: 0;
        background: transparent;
        position: relative;
        z-index: 0;
        padding: 0 60px;
        // margin-left: auto;
        margin-left: 3vw;

        @media screen {
            @media (max-width: 1199px) {
                margin-left: auto;
                margin-top: 50px;
                order: 1;
            }

            @media (max-width: 767px) {
                padding: 0 50px;
            }
        }

        img {
            position: absolute;
            bottom: 0;
            z-index: -1;
            left: 50%;
            transform: translateX(-50%);
            // max-width: none;
            animation: submitImg 3s linear infinite;

            @media screen and (max-width: 767px) {
                width: 100%;
            }
        }

        span {
            display: block;
            width: 75px;
            height: 75px;
            border-radius: 50%;
            background-color: $color-text-second;
            position: relative;
            transition: $transition;

            @media screen and (max-width: 767px) {
                width: 60px;
                height: 60px;
            }

            &:before,
            &:after {
                content: '';
                position: absolute;
                transition: $transition;

            }

            &:before {
                width: 40px;
                height: 2px;
                top: 50%;
                left: 50%;
                background-color: $color-text-white;
                transform: translate(-50%, -50%);
            }

            &:after {
                width: 6px;
                height: 6px;
                border-top: 2px solid;
                border-right: 2px solid;
                transform: rotate(45deg);
                border-color: $color-text-white;
                top: 33px;
                right: 18px;

                @media screen {
                    @media (max-width: 767px) {
                        top: 26px;
                        right: 12px;
                    }
                }

                // margin-top: -4px;
            }
        }

        &:hover,
        &:active {
            span {
                box-shadow: 0 0 20px 0 #f29f00;
                transform: translateY(-2px);

                &:before {
                    background-color: $color-text-white;
                }

                &:after {
                    border-color: $color-text-white;
                }
            }
        }
    }
}

textarea {
    width: 100%;
    height: 190px;
    background: #F2EFE5;
    border: 1px solid rgba(#5C5C5C, .2);
    border-radius: 20px;
    transition: $transition;
    padding: 25px;
    resize: none;
    font-size: .8rem;
    overflow: auto;
    @include placeholder-color(#B1B1B1);
    outline: none;
    -webkit-appearance: none;

    @media screen {
        @media (max-width: 1199px) {
            font-size: .9rem;
        }
    }

    &:hover,
    &:active,
    &.active {
        border-color: #5C5C5C;
    }

    @media screen {
        @media (min-width: 2100px) {
            height: 10vw;
        }
    }
}

.label-checkbox {
    padding-left: 30px;
    position: relative;
    font-size: .8rem;

    >a {
        display: inline;
    }

    @media screen {
        @media (max-width: 1199px) {
            font-size: .9rem;
        }
    }



    &:before,
    &:after {
        content: '';
        position: absolute;
        transition: $transition;
    }

    &:before {
        width: 20px;
        height: 20px;
        border-radius: 5px;
        border: 1px solid $color-text-white;
        top: -2px;
        left: 0;
    }

    &:after {
        width: 6px;
        height: 11px;
        border-right: 2px solid $color-text-white;
        border-bottom: 2px solid $color-text-white;
        transform: rotate(45deg);
        left: 7px;
        top: 0;
        opacity: 0;
    }

    input:checked+& {
        &:after {
            opacity: 1;
        }
    }

    .invalid & {
        &:before {
            border-color: #CC0A0A
        }
    }
}

body::-webkit-scrollbar {
    width: 10px;
    /* ширина scrollbar */
}

body::-webkit-scrollbar-track {
    background: #F2EFE5;
    /* цвет дорожки */
}

body::-webkit-scrollbar-thumb {
    background-color: #80766F;
    /* цвет плашки */
    border-radius: 3px;
    /* закругления плашки */
    /* padding вокруг плашки */
}


.btn-up {
    position: fixed;
    width: 2rem;
    height: 2rem;
    bottom: 2rem;
    right: 2rem;
    z-index: 2;
    border-radius: 50%;
    background: rgba($color-bg-dark, .7);
    transition: $transition;

    &:hover,
    &:active {
        background: $color-bg-dark;
    }


    @media screen {
        @media (max-width: 1500px) {
            bottom: 1rem;
            right: 1rem;
        }
    }

    img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        // width: 3px;
        // height: 40%;
        // background-color: $color-main;
        animation: none;

    }

    &:not(.show) {
        visibility: hidden;
        opacity: 0;
    }
}


.mobile-only {
    @media screen and (min-width: 1200px) {
        display: none;
    }
}

// End Global CSS